@import url(http://fonts.googleapis.com/css?family=Noto+Sans:300,500,700);

html, body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;  
  background-color: #c6e6f9
}

* {
  margin: 0;
  padding: 0;
}


hr {
  background-color: #6ec1e4;
}

h5 {
  color: #052D6E;
  margin: 25px;
}











